#courseDetail {
  min-height: 90vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#courseDetail > p {
  margin: 0;
  padding: 0;
}

#courseDetail > div {
  background: linear-gradient(155.13deg, #4e2175 -61.89%, #171117 20.71%);
  min-height: 80vh;
  width: 60vw;
  border-radius: 2vh;
  padding: 10vh;
  margin: 5vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#courseInfoContainer {
  width: 100%;
  display: flex;
}

#courseInfoContainer > Tile,
#courseInfoContainer > div {
  width: 50%;
}
