@media only screen and (min-width: 768px) {
  #courseDetail {
    min-height: 90vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #courseDetail > div {
    background: linear-gradient(155.13deg, #4e2175 -61.89%, #171117 20.71%);
    min-height: 80vh;
    width: 60vw;
    border-radius: 2vh;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    margin: 5vh 0;
  }
}

#courseDetail > p {
  margin: 0;
  padding: 0;
}

#courseInfoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3vw;
}

#courseLink {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

#urlHolder {
  width: 100%;
  max-width: 100%;
  text-align: center;
  color: #d8afd8;
}

#urlHolder > p > a {
  text-decoration: none;
  color: #d8afd8;
  display: block;
  word-wrap: break-word;
  width: 100%;
  max-width: 100%;
  text-align: center;
  white-space: normal;
  margin-bottom: 5vh;
}

#rating,
#userRating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
}

#courseLink > Button {
  position: absolute;
  bottom: 0;
}

.star {
  width: 4vh;
  height: 4vh;
}

.courseTitle {
  font-size: 5vh;
  margin: 0;
  width: 50%;
  text-align: center;
}

.courseContent {
  width: 35%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5vh;
}

.ratingText {
  color: #cdb5df;
  font-size: 2.5vh;
  margin-bottom: 0.5vh;
}

#courseDetailTitle,
#mobileCourseRaitingInfo,
#courseDetailButtons,
#mobileDisqusPointer,
#btnBg {
  display: none;
}

#courseDetailHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2.5%;
}

@media only screen and (max-width: 768px) {
  #courseDetail {
    display: inline;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
  }

  #courseDetailContainer {
    width: 100vw;
    min-height: 100vh;
    background-color: #171117;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #courseDetailTitle {
    display: flex;
    align-items: center;
    height: 12vh;
    width: 100%;
    background: linear-gradient(159.38deg, #382d63 15.5%, #60306b 84.5%);
    clip-path: polygon(0% 0, 100% 0%, 100% 50%, 0 100%);
  }

  #courseDetailTitle > span {
    margin-left: 10%;
    margin-bottom: 5%;
    font-size: 140%;
    font-weight: 500;
  }

  #courseDetailAuthor {
    display: none;
  }

  #courseDetailName {
    width: 100%;
    margin-top: 5vh;
    font-size: 200%;
    font-weight: 550 !important;
  }

  #courseInfoContainer {
    display: none;
  }

  #mobileCourseRaitingInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    width: 80%;
    color: #cdb5df;
    font-size: 125%;
    margin: 5vh 0;
    text-align: center;
  }

  #mobileCourseRaiting {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 2vw;
    font-size: 175%;
  }

  #courseDetailButtons {
    width: 100%;
    height: 22vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 393 212" fill="none"><rect width="111.753" height="793" transform="matrix(-0.126525 -0.991964 -0.991964 0.126525 560.766 110.854)" fill="url(%23paint0_linear_534_666)"/><defs><linearGradient id="paint0_linear_534_666" x1="48.424" y1="793" x2="-80.2202" y2="738.623" gradientUnits="userSpaceOnUse"><stop stop-color="%23171117"/><stop offset="1" stop-color="%232E1133"/></linearGradient></defs></svg>');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  #mobileDisqusPointer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    font-size: 125%;
    color: #d0bae2;
    margin-top: 5vh;
  }
}
