#Error {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: white;
  text-align: center;
}

#Error > p {
  font-size: 5vh;
}
