#containerMenu {
  background-color: #1e1e1e;
  height: 10vh;
  width: 98%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1%;
  position: fixed;
  z-index: 10;
}
#containerMenu > #logoContainer > span {
  font-size: 3vh;
  font-weight: 800;
  text-align: left;
}
#containerMenu > #logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#menu > .menuItem {
  font-weight: 500;
  font-size: 3vh;
  display: inline;
  padding: 15px;
}
