#register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: linear-gradient(249.93deg, #60316c 33.97%, #392d64 65.48%);
}

#registerPanel {
  display: flex;
  justify-content: center;
  height: 80vh;
  width: 130vh;
}

#registerPanel > #left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5vh;
  background-color: #90429c;
  text-align: right;
  height: 100%;
  width: 25%;
  padding: 0 5% 0 10%;
  border-radius: 22px 0 0 22px;
}

#registerPanel > #right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
  background-color: #202020;
  text-align: left;
  height: 100%;
  width: 60%;
  padding: 0 5%;
  border-radius: 0 22px 22px 0;
}

#registerPanel > #left > #welcome {
  font-weight: 900;
  font-size: 4vh;
}

#registerPanel > #left > #loginText {
  font-weight: 400;
  font-size: 3vh;
}

#registerPanel > #left > #logo {
  transform: scaleX(-1);
  position: absolute;
  width: 12vh;
  bottom: -2%;
  left: -7.5%;
}

#registerPanel > #left > p {
  margin: 0;
}

#registerPanel > #right > p {
  margin: 0;
}

#registerPanel > #right > #registerText > #mainText {
  margin: 0;
  font-weight: 700;
  font-size: 3vh;
}

#registerPanel > #right > #registerText > #registerSubtext {
  font-weight: 400;
  font-size: 2vh;
}

#registerPanel > #right > #form {
  display: flex;
  flex-direction: column;
}

#registerPanel > #right > #alternateRegisterText {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  width: 80%;
  align-self: center;
}

#registerPanel > #right > #alternateRegisterText > span {
  margin: 0;
  text-align: center;
}

#registerPanel > #right > #alternateRegisterMethods {
  display: flex;
  justify-content: center;
  width: 70%;
  justify-content: space-between;
  align-self: center;
}

#registerResponse {
  margin: 0;
  padding: 0;
}

.registerPanelLinks {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

#mobileRegisterPanel {
  display: none;
}

@media only screen and (max-width: 768px) {
  #register {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(230deg, #382d63, #60306b, #90429c);
  }

  #registerPanel {
    display: none;
    visibility: hidden;
  }

  #mobileRegisterPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    height: 100%;
    width: 100%;
    background-color: #171117;
    clip-path: polygon(0% 30%, 100% 0%, 100% 70%, 0 100%);
  }

  #mobileRegisterTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    font-weight: bold;
  }

  #mobileRegisterTitle > img {
    width: 25%;
    transform: rotate(-20deg);
  }

  #mobileRegisterPanel > #mobileForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
  }

  #mobileLoginRedirect {
    width: 60%;
    text-align: center;
  }
}
