#top3 {
  margin-top: 10vh;
  display: flex;
  gap: 20vw;
  margin-bottom: 5vh;
  position: relative;
  z-index: 5;
}

.top3Courses {
  display: flex;
  flex-direction: column;
}

#top3 > .top3Courses:nth-child(1) {
  transform: translateY(20vh);
}

#top3 > .top3Courses:nth-child(2) {
  top: 0vh;
}

#top3 > .top3Courses:nth-child(3) {
  transform: translateY(40vh);
}
