#courseContainer {
  background-color: #181218;
  border-radius: 1.5vh;
  margin: 5% 0;
}

#courseContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  gap: 1vw;
}

#mainInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35%;
  width: 85%;
  color: #ebd1eb;
  background-color: #403140;
  border: 4px solid #362536;
  border-radius: 1vh;
  text-align: center;
}

#courseRating {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ebd1eb;
  height: 5%;
  width: 85%;
  gap: 0.3vw;
}
