#inlineCourse {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 3vh;
  color: #fff;
  font-size: 2.6vh;
  width: 40%;
  font-weight: 400;
}

#inlineCourse:hover {
  cursor: pointer;
}

#inlineCourseRating {
  display: flex;
  justify-items: center;
}
