#advertContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-40%);
  background: linear-gradient(180deg, #171717 2.99%, #252525 100%);
  background-size: cover;
  clip-path: url(#bg);
  -webkit-clip-path: url(#bg);
  z-index: 1;
  padding: 20% 0%;
}

#advertContainer > #maintainSpace > #title {
  background: linear-gradient(
    91.65deg,
    #5c61af -1.32%,
    #8955c1 46.15%,
    #ee4bc5 100.77%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 10vh;
  font-weight: 700;
  width: 100%;
}

#tilesContainer {
  display: flex;
  justify-content: center;
}

.titles {
  font-weight: 900;
  font-size: 5vh;
}

#maintainSpace {
  display: flex;
  transform: translateY(20%);
  flex-direction: column;
}
