span {
  font-size: 36px;
  font-weight: normal;
  text-align: left;
}
#containerMenu {
  background-color: #1e1e1e;
  height: 10vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#menu > li {
  font-size: 24px;
  display: inline;
  padding: 15px;
}
