body {
  background: linear-gradient(249.93deg, #382c63 33.97%, #5f306b 65.48%);
  color: white;
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

.magnifiedText * {
  font-size: 200%;
}

input {
  font-family: "Quicksand", sans-serif;
}
